<!DOCTYPE html>
<html lang="en" ng-app="ClientNgModule">
    <head>
        <meta charset="utf-8">
        <title>Bonus</title>
		
		<link rel="stylesheet" type="text/css" href="style.css">
		
		<script src="jquery-1.9.1.min.js"></script>
		<script src="Lobby.js"></script>
		<script src="Tile.js"></script>
		<script src="Stubs.js"></script>
		<script src="ClientApp.js"></script>
		<script src="Frontend.js"></script>
		<script src="angular.js"></script>
    </head>
    <body>
		
		
		<div id="ConnectDiv">
			Enter name: <input id="ClientNameField" type="text" value="Player"/>
			<input type="button" id="ConnectButton" value="Connect">
		</div>
		
		<div id="LobbyDiv" ng-controller="LobbyCtrl" hidden="true">
			<table border="1">
				<tr>
					<th>Game Name</th>
					<th>Game Host</th>
					<th>Join</th>
				</tr>
				
				<tr ng-repeat="game in lobby.gameInfoArr">
					<td>{{game.name}}</td>
					<td>{{game.host}}</td>
					<td><input type="button" ng-click="joinGame($index)" value="Join"/></td>
				</tr>
			</table>
		
			<table border="1">
				<tr>
					<th>Player Name</th>
				</tr>
				
				<tr ng-repeat="name in lobby.clientNameArr">
					<td>{{name}}</td>
				</tr>
			</table>
			
			Game name: <input id="GameNameField" type="text"/>
			<input id="OpenGameButton" type="button" value="Open Game"/>
		</div>
		
		<div id="GameDiv" ng-controller="GameCtrl" hidden="true" style="background-color:#2F6487">
			<table><tr>
				<td>
					<table border="1">
						<tr><td>{{getPlayer(0).name}}</td></tr>
						
						<tr><td bgcolor="black">
							<font color="yellow">{{getPlayer(0).score}}</font>
						</td></tr>
						
						<tr><td>
							<table>
								<tr ng-repeat="row in bankIndexMat">
									<td width="50" height="50" ng-repeat="idx in row" style="{{ cellStyle(getBankAt(0, idx)) }}" >{{cellContent(getBankAt(0, idx))}}</td>
								</tr>
							</table>
						</td></tr>
					</table>
				</td>
			
				<td>
					<table>
						<tr ng-repeat="row in getBoard().data">
							<td width="50" height="50" ng-repeat="col in row" style="{{ cellStyle(col) }}" ></td>
						</tr>
					</table>
				</td>
			
				<td>
					<table border="1">
						<tr><td>{{getPlayer(1).name}}</td></tr>
						
						<tr><td bgcolor="black">
							<font color="yellow">{{getPlayer(1).score}}</font>
						</td></tr>
						
						<tr><td>
							<table>
								<tr ng-repeat="row in bankIndexMat">
									<td width="50" height="50" ng-repeat="idx in row" style="{{ cellStyle(getBankAt(1, idx)) }}" >{{cellContent(getBankAt(1, idx))}}</td>
								</tr>
							</table>
						</td></tr>
					</table>
				</td>
				
			</tr></table>
		</div>
		
		<div id="LogDiv">
		</div>
    </body>
</html>