<!DOCTYPE html>
<html lang="en" ng-app="ClientNgModule">
    <head>
        <meta charset="utf-8">
        <title>Bonus</title>
		
		<script src="jquery-1.9.1.min.js"></script>
		<script src="Lobby.js"></script>
		<script src="Stubs.js"></script>
		<script src="ClientApp.js"></script>
		<script src="Frontend.js"></script>
		<script src="angular.js"></script>
    </head>
    <body>
		
		<div id="ConnectDiv">
			Enter name: <input id="ClientNameField" type="text" value="Player"/>
			<input type="button" id="ConnectButton" value="Connect">
		</div>
		
		<div id="LobbyDiv" ng-controller="LobbyCtrl" hidden="true">
			<table border="1">
				<tr>
					<th>Game Name</th>
					<th>Game Host</th>
					<th>Join</th>
				</tr>
				
				<tr ng-repeat="game in lobby.gameInfoArr">
					<td>{{game.name}}</td>
					<td>{{game.host}}</td>
					<td><input type="button" value="Join"/></td>
				</tr>
			</table>
		
			<table border="1">
				<tr>
					<th>Player Name</th>
				</tr>
				
				<tr ng-repeat="name in lobby.clientNameArr">
					<td>{{name}}</td>
				</tr>
			</table>
			
			Game name: <input id="GameNameField" type="text"/>
			<input id="StartGameButton" type="button" value="Start Game"/>
		</div>
		
		<div id="GameDiv" ng-controller="GameCtrl" hidden="true" style="background-color:#2F6487">
			<table>
				<tr ng-repeat="row in client.game.board.data">
					<td width="50" height="50" ng-repeat="col in row" style="{{ cellStyle(col) }}" ></td>
				</tr>
			</table>
		</div>
		
		<div id="LogDiv">
		</div>
    </body>
</html>